* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

img {
    max-width: 100%;
}

/* COMMON */
.container {
    width: 70%;
    margin: auto;
    /* debug */
    border: 1px solid black;
}

.container-large {
    width: 80%;
    margin: auto;
    /* debug */
    border: 1px solid black;
}

.flex-direction {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.line-center {
    justify-content: center;
}

/* HEADER */
/* nav */
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* debug  */
    height: 100px;
    background-color: rgb(0, 38, 255);
    z-index: 9999;
}

.logo {
    width: 15%;
    /* debug */
    background-color: rgb(0, 191, 255);
}

.left-nav {
    width: 35%;
    /* debug */
    background-color: rgb(221, 0, 255);
}

.rigth-nav {
    width: 35%;
    /* debug */
    background-color: rgb(255, 0, 187);
}

.nav-button {
    width: 15%;
    /* debug */
    background-color: rgb(0, 255, 251);
}

/* hero */
.hero {
    width: 100%;
    background-color: #B4D0E7;
    height: 97vh;
    padding: 6.7rem 0 0 0;
}

.hero-title {
    width: 100%;
    /* debug */
    background-color: aqua;
    height: 200px;
    margin: 1rem;
}

.hero-article {
    width: 35%;
    /* debug */
    height: 300px;
    background-color: aqua;
    margin: 1rem;
}

.hero-image {
    width: 55%;
    /* debug */
    height: 400px;
    background-color: aqua;
    margin: 1rem;
}

/* MAIN */
/* business plan */
.business-plan {
    margin-top: 5rem;
}

.business-plan-title {
    width: 100%;
    /* debug */
    height: 100px;
    background-color: blueviolet;
    margin: 0.5rem;
}

.business-plan-button {
    width: 100%;
    /* debug */
    height: 50px;
    background-color: blueviolet;
    margin: 0.5rem;
}

.business-plan-card {
    width: 100%;
}

.business-plan-professional,
.business-plan-advanced,
.business-plan-enterprise {
    width: calc(95% / 3);
    /* debug */
    height: 700px;
    background-color: blueviolet;
    margin: 0.5rem;
}

.business-plan-enterprise-team {
    width: 100%;
    /* debug */
    background-color: blueviolet;
    height: 300px;
    margin: 0.5rem;
}

/* find partner section */
.find-partner>.container {
    padding: 1rem
}

.find-partner-image {
    width: 50%;
    /* debug */
    height: 400px;
    background-color: aquamarine;
    margin-right: 1rem;
}

.find-partner-article {
    width: 40%;
    /* debug */
    height: 400px;
    background-color: aquamarine;
}

/* dopbox operation */
.dropbox-operation > .container {
    padding: 1rem;
}

.dropbox-operation-card {
    width: calc(95% / 3);
    /* debug */
    height: 300px;
    background-color: orange;
    margin: 0 0.5rem 0.5rem 0;
}



