* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */

.flex-direction {
    display:flex ;
}



/* HEADER */
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* debug  */
    height: 100px;
    background-color: rgb(0, 38, 255);
}

.logo {
    width: 20%;
    /* debug */
    background-color: rgb(0, 191, 255);
}

.left-nav {
    width: 30%;
    /* debug */
    background-color: rgb(221, 0, 255);
}

.rigth-nav {
    width: 30%;
    /* debug */
    background-color: rgb(255, 0, 187);
}

.nav-button {
    width: 20%;
    /* debug */
    background-color: rgb(0, 255, 251);
}