/* ROOT */
:root {
    /* common */
    --button-padding: 0.4rem 0.7rem;
    --button-font-size: 0.9rem;
    --section-title-font: 1.5rem;
    --button-text-color: #ffffff;
    --button-color: #0061FF;

    /* nav */
    --header-nav-bg-color: #ffffff;
    --header-nav-text-color: black;

    /* hero */
    --hero-bg-color: #B4D0E7;

    /* button business plan */
    --checkmark-dim: 1.5rem;
    --checkmark-dot-dim: 1rem;
    --border-card: 1px solid lightgrey;
    --padding-button-business-plan: 0.5rem 2rem;

    /* partener logo section  */
    --logo1-gb-color: #A2D39B;
    --logo1-border: 10px solid #D1E9CD;
    --logo2-gb-color: #61082B;
    --logo3-gb-color: #0093CE;
    --logo4-gb-color: #FF1C1C;
    --logo5-gb-color: #D5001F;
    --logo6-gb-color: #B4D0E7;
    --logo7-gb-color: #0D2481;
    --logo8-gb-color: #FFD830;

    /* free trial section */
    --free-trial-button-bg-color: #ffffff;
    --free-trial-title-text-color: #61082b;
    --border-question: 1px solid #9b9b9b;

    /* footer section */
    --footer-text-color: #ffffff;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

img {
    max-width: 100%;
}

/* COMMON */
a {
    text-decoration: none;
    color: inherit;
}

.section-title {
    font-size: var(--section-title-font);
}

/* layout */
.container {
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

.container-large {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.logo-container {
    width: 60%;
}

.padding {
    padding: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.flex-direction {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.line-center {
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

/* HEADER */
/* nav */
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header-nav-bg-color);
    padding: 1rem 0;
}

.logo,
.access-button {
    width: 15%;
}

.left-nav,
.right-nav {
    width: 35%;
}

.header-link {
    list-style-type: none;
}

.header-link li {
    margin-right: 1rem;
}

.header-link a {
    color: var(--header-nav-text-color)
}

.access-button>* {
    font-size: var(--button-font-size);
    margin-left: 0.8rem;
    padding: var(--button-padding);
}

.log-in {
    color: var(--header-nav-text-color);
}

.sign-in {
    background-color: var(--button-color);
    color: var(--button-text-color);
}

/* hero */
.hero {
    width: 100%;
    background-color: var(--hero-bg-color);
    height: 88vh;
    padding: 6.7rem 0 0 0;
}

.hero-title {
    width: 80%;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.hero-article {
    width: 30%;
}

.header-free-trial {
    margin-top: 3rem;
}

.header-free-trial-link {
    font-size: 0.9rem;
    padding: var(--button-padding);
    background-color: var(--button-color);
    color: var(--button-text-color);
}

.header-free-trial>p {
    margin-top: 3rem;
    font-size: var(--button-font-size);
}

.header-free-trial-download {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.hero-image {
    width: 70%;
}

/* MAIN */
/* business plan */
.business-plan {
    margin-top: 7rem;
}

.business-plan-button {
    width: 100%;
    font-size: 1rem;
}

/* button style */

input[type="radio"] {
    appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 0.1rem solid #d0d0d3;
}

input[type="radio"]:checked {
    border:0.35rem solid var(--button-color);
}

.method-payment {
    gap: 0.5rem;
}

/* plan card */
.business-plan-card {
    width: 100%;
    margin: 1rem;
    gap: 1.5rem;
    align-items: stretch;
    justify-content: space-between;
}

.business-plan-professional,
.business-plan-advanced,
.business-plan-enterprise {
    width: calc(90% / 3);
    border: var(--border-card);
}

.business-plan-enterprise-team {
    width: 100%;
    border: var(--border-card);
}

.business-plan-icon {
    font-size: 1.2rem;
    margin: 1rem;
}

.fa-solid {
    margin-right: 0.5rem;
}

.hr-business {
    border-top: var(--border-card);
}

.type-of-plan {
    margin-top: 1.5rem;
}

.plan-price {
    margin-top: 1.5rem;
    font-weight: bolder;
}

.payment-type {
    color: grey;
    margin-top: 1rem;
}

.number-of-user,
.archive-space,
.plan-function {
    margin-top: 1rem;
}

.free-trial-30-days-button {
    text-align: center;
    margin-top: 3rem;
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: var(--padding-button-business-plan)
}

.buy-now {
    margin-top: 2rem;
}

.buy-now>a {
    text-decoration: underline;
    color: blue;
}

.small-hr {
    width: 20%;
    margin: 3rem 0;
    color: lightgray;
}

.plan-feature>ul {
    list-style-type: none;
    margin-top: 2rem;
}

.plan-feature li {
    margin-top: 2rem;
}

.fa-check {
    color: var(--button-color);
}

.enterprise .type-of-plan {
    width: 60%;
}

.enterprise-button {
    width: 40%;
}

.enterprise h4 {
    margin-top: 1rem;
}

.enterprise p {
    margin-top: 3rem;
}

.enterprise-button a {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: var(--padding-button-business-plan);
    align-self: flex-start;
}

/* find partner section */
.find-partner {
    margin: 4rem 0;
}

.find-partner>.container {
    justify-content: space-between;
}

.find-partner-image {
    width: 60%;
}

.find-partner-article {
    width: 30%;
}

.find-partner .section-title {
    margin-top: 2rem;
}

.find-partner-article p {
    margin: 2rem 0 3rem;
}

.find-partner-button a {
    border: 1px solid black;
    padding: var(--button-padding);
}

/* dopbox operation */
.dropbox-operation>.container {
    justify-content: space-between;
}

.dropbox-operation-card {
    margin: 1.5rem 0;
}

.dropbox-operation-card {
    width: calc(85% / 3);
}

.dropbox-operation-card>h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.dropbox-operation-card>p {
    margin-top: 2rem;
}


/* dropbox client */
.dropbox-client {
    margin: 5rem 0;
}

.dropbox-client-link {
    width: 100%;
    margin: 4rem 0;
    color: var(--button-color);
    text-decoration: underline;
}

/* dropbox client logo */
.dropbox-client-logo {
    width: 100%;
    aspect-ratio: 3/1;
}

.dropbox-client-logo>* {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
}

.center-logo-section {
    background-color: #F5F5F5;
}

.client-logo {
    width: calc(100% / 2);
    aspect-ratio: 1/1;
}

.logo-container>img {
    filter: brightness(0) invert(1);
}

.center-logo-section {
    padding: 2.5rem;
    overflow-y: scroll;
}

.center-logo-section::-webkit-scrollbar {
    display: none;
}

.center-logo-section>img {
    width: 50%;
}

.hr-central-logo {
    margin: 2rem 0;
    width: 25%;
}

.company-logo-speech,
.speech-autor {
    font-size: 0.83rem;
    margin: 2rem 0;
}

/* left logo section */

.logo1 {
    background-color: var(--logo1-gb-color);
    border: var(--logo1-border);
}

.logo2 {
    background-color: var(--logo2-gb-color);
}

.logo3 {
    background-color: var(--logo3-gb-color);
}

.logo4 {
    background-color: var(--logo4-gb-color);
}

.logo5 {
    background-color: var(--logo5-gb-color);
}

.logo6 {
    background-color: var(--logo6-gb-color);
}

.logo7 {
    background-color: var(--logo7-gb-color);
}

.logo8 {
    background-color: var(--logo8-gb-color);
}

/* free trial */
.free-trial {
    background-color: var(--hero-bg-color);
    padding: 5rem 0;
}

.free-trial>.container {
    justify-content: space-between;
}

.free-trial .section-title {
    width: 60%;
    color: var(--free-trial-title-text-color);
}

.free-trial-button {
    background-color: var(--free-trial-button-bg-color);
    align-self: flex-start;
    padding: var(--padding-button-business-plan);
}

/* FAQ */
.faq {
    padding: 5rem 0;
}

.faq-title {
    width: 100%;
}

.faq-area {
    width: 100%;
    margin: 3rem 0;
    border-bottom: var(--border-question);
}

.question-section {
    padding: 2rem 0;
    justify-content: space-between;
    border-top: var(--border-question);
    font-size: 1.15rem;
}

.answer-section {
    padding-bottom: 2rem;
}

/* FOOTER */
footer {
    background-color: black;
    padding: 2rem 0 1rem;
    color: var(--footer-text-color);
}

/* footer top */
.footer-link {
    gap: 1rem;
    margin: 0 0 6rem;
    justify-content: space-between;
}

.footer-link-column {
    width: calc(94% / 5);
}

.footer-link-column>h3 {
    margin: 1rem 0;
    font-size: 1.4rem;
}

.footer-link-column>ul {
    list-style-type: none;
}

.footer-link-column li {
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

.footer-hr {
    margin: 2rem 0;
    width: 10%;
    color: var(--footer-text-color);
}

.footer-language {
    align-items: center;
    margin: 3rem 0 0;
}

.language {
    margin-right: 0.3rem;

}